@model MvcApplication2.Models.article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>article</legend>

        @Html.HiddenFor(model => model.articleid)

        <div class="editor-label">
            @Html.LabelFor(model => model.articlecontent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.articlecontent)
            @Html.ValidationMessageFor(model => model.articlecontent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.articleault)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.articleault)
            @Html.ValidationMessageFor(model => model.articleault)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    
</div>

@section Scripts {
  
    
}
